<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <br />
        <form novalidate class="simple-form">
            <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstName" required autofocus /><br />
            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastName" required autofocus /><br />
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="update()">Submit</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>
