<div class="row"><br />
    <div class="col-md-4">
        <h2>Edit profile</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/editprofile" role="button">Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Movies</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/movies" role="button">Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Favorite movies</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/favoritemovies" role="button">Favorite Movies &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Users</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/users" role="button">Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Friends</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/friends" role="button">Users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Notifications</h2>
        <p class="text-primary">Go.</p>
        <p><a class="btn btn-info" href="#/notifications" role="button">Notifications &raquo;</a></p>
    </div>
</div>
